<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>Seja bem vindo ao Salas Fradique</title>
    <style>
        .appleLinks a {
            text-decoration: none;
        }

        @media only screen and (max-width: 560px) {
            .mobile-align {
                text-align: left;
            }

            a[id="unsubscribe-url"],
            a[id="manage-url"],
            a[id="policy-url"] {
                margin-right: 0 !important;
                margin-left: 0 !important;
                display: block !important;
                width: 100% !important;
                border: none !important;
                padding: 5px 0 !important;
                text-decoration: underline !important;
            }

        }

        @media only screen and (max-width: 480px) {
            .table-transform .table-transform-td {
                display: inline-block !important;
                vertical-align: top !important;
                width: 100% !important;
                max-width: 100% !important;
                padding-left: 0 !important;
                padding-right: 0 !important;
            }

            .list {
                max-width: 150px !important
            }
        }
    </style>
</head>

<body style="padding:0; margin:0; background: #e2e2e2">
    <table cellspacing="0" valign="top" cellpadding="0" align="center" style="width: 100%;padding: 50px 0">
        <tr valign="top">
            <td align="center" width="100%">
                <table cellspacing="0" cellpadding="0" align="center" width="100%" bgcolor="#fff"
                    style="max-width: 630px; min-width: 330px; background: #fff;border-radius: 10px;padding: 20px 30px">
                    <tr>
                        <td align="center" style="padding: 0 15px;">
                            <table cellspacing="0" cellpadding="0" width="100%" style="max-width: 630px;">
                                <tr>
                                    <td align="left" style="padding: 15px 0 0 10px; width: 99px;">
                                        <a href="https://www.salasfradique.com.br" target="_blank">
                                            <img src="https://www.salasfradique.com.br/img/logos/logo-texto-min.png"
                                                alt="Logo_SalasFradique" width="180">
                                        </a>
                                    </td>
                                </tr>
                            </table>
                        </td>
                    </tr>
                    <tr>
                        <td style="padding: 18px 15px 0;">
                            <div style="width: 100%; border-top: 1px solid #d4d2ca;"></div>
                        </td>
                    </tr>
                    <tr>
                        <td style="padding: 0 15px;">
                            <table cellspacing="0" cellpadding="0" align="center" width="100%">
                                <tr>
                                    <td style="padding: 35px 0 10px;" align="center">
                                        <div
                                            style="font-family: 'Helvetica Neue', sans-serif; font-weight: 600; font-size: 28px; color: #464646; line-height: 1.2;">
                                            Seja bem vindo(a) ao espaço <br>Salas Fradique</div>
                                    </td>
                                </tr>
                                <tr>
                                    <td align="left">
                                        <div class="mobile-align"
                                            style="font-family: 'Helvetica Neue', sans-serif; font-weight: 300; font-size: 16px; color: #707070; line-height: 24px; max-width: 560px; margin: 0 auto; padding-top: 10px;">
                                            Olá {{cliente.nome}}, seja bem vindo(a) ao Salas Fradique.
                                            <div style="display:block;width:100%;height:8px;"></div>
                                            Esperamos que seu tempo conosco seja confortável e nos colocamos a
                                            disposição em caso de qualquer dúvida, crítica ou sugestão.
                                            <div style="display:block;width:100%;height:8px;"></div>
                                            A seguir você encontrará todas as informações necessárias para iniciar
                                            seus atendimentos.
                                        </div>
                                    </td>
                                </tr>
                                <!-- CONTRATO -->
                                <tr>
                                    <td style="padding-top: 25px;">
                                        <img src="https://www.salasfradique.com.br/emails/boas_vindas/contrato.png"
                                            width="100%" alt="">
                                    </td>
                                </tr>
                                <tr>
                                    <td style="padding-top: 4px;">
                                        <div
                                            style="font-family: 'Helvetica Neue', sans-serif; font-weight: 400; font-size: 18px; color: #464646; line-height: 1.2; text-align: left;">
                                            Informações sobre o contrato</div>
                                    </td>
                                </tr>
                                <tr>
                                    <td style="padding-top: 16px;">
                                        <div
                                            style="font-family: 'Helvetica Neue', sans-serif; font-weight: 300; font-size: 16px; color: #707070; line-height: 1.6; text-align: left;">
                                            Para começar, pedimos que você leia e assine o contrato anexo,
                                            rubricando
                                            todas as páginas. O contrato deverá ser entregue na recepção
                                            <span style="font-weight:400">antes do
                                                seu primeiro
                                                atendimento.</span>
                                            <div style="display:block;width:100%;height:8px;"></div>
                                            <em><span style="font-weight: 500">Obs.:
                                                </span>A impressão pode ser
                                                feita frente e
                                                verso.</em>
                                        </div>
                                    </td>
                                </tr>
                                <!-- CONVIVÊNCIA -->
                                <tr>
                                    <td style="padding-top: 25px;">
                                        <img src="https://www.salasfradique.com.br/emails/boas_vindas/espaco_compartilhado.png"
                                            width="100%" alt="">
                                    </td>
                                </tr>
                                <tr>
                                    <td style="padding-top: 4px;">
                                        <div
                                            style="font-family: 'Helvetica Neue', sans-serif; font-weight: 400; font-size: 18px; color: #464646; line-height: 1.2; text-align: left;">
                                            Sobre a Convivência</div>
                                    </td>
                                </tr>
                                <tr>
                                    <td style="padding-top: 16px;">
                                        <div
                                            style="font-family: 'Helvetica Neue', sans-serif; font-weight: 300; font-size: 16px; color: #707070; line-height: 1.6; text-align: left;">
                                            Buscando o maior conforto para todos que circulam no espaço, pedimos que
                                            durante sua estada você esteja atento aos pontos apresentados no anexo
                                            "Espaço Compartilhado".
                                        </div>
                                    </td>
                                </tr>
                                <!-- SISTEMA DE RESERVAS -->
                                <tr>
                                    <td style="padding-top: 25px;">
                                        <img src="https://www.salasfradique.com.br/emails/boas_vindas/agendamento.png"
                                            width="100%" alt="">
                                    </td>
                                </tr>
                                <tr>
                                    <td style="padding-top: 4px;">
                                        <div
                                            style="font-family: 'Helvetica Neue', sans-serif; font-weight: 400; font-size: 18px; color: #464646; line-height: 1.2; text-align: left;">
                                            Acesso ao sistema de reserva</div>
                                    </td>
                                </tr>
                                <tr>
                                    <td style="padding-top: 16px;">
                                        <div
                                            style="font-family: 'Helvetica Neue', sans-serif; font-weight: 300; font-size: 16px; color: #707070; line-height: 1.6; text-align: left;">
                                            Buscando dar mais autonomia aos clientes na gestão dos seus horários, o
                                            espaço Salas Fradique disponibiliza
                                            um sistema de agendamento online para os clientes dos planos fixos e
                                            por período.
                                            Para acessar o sistema, siga os passos a seguir:
                                            <ol>
                                                <li>
                                                    Acesse: <a href="http://agenda.salasfradique.com.br" target="_blank"
                                                        style="color:#202c39; font-weight:400">agenda.salasfradique.com.br</a>
                                                </li>
                                                <li>
                                                    Login: {{cliente.login}}
                                                </li>
                                                <li>
                                                    Senha: {{cliente.senha}}
                                                </li>
                                            </ol>
                                        </div>
                                    </td>
                                </tr>
                                <!-- RENOVAÇÃO DO PLANO -->
                                <tr>
                                    <td style="padding-top: 25px;">
                                        <img src="https://www.salasfradique.com.br/emails/boas_vindas/renovacao.png"
                                            width="100%" alt="">
                                    </td>
                                </tr>
                                <tr>
                                    <td style="padding-top: 4px;">
                                        <div
                                            style="font-family: 'Helvetica Neue', sans-serif; font-weight: 400; font-size: 18px; color: #464646; line-height: 1.2; text-align: left;">
                                            Renovação do plano</div>
                                    </td>
                                </tr>
                                <tr>
                                    <td style="padding-top: 16px;">
                                        <div
                                            style="font-family: 'Helvetica Neue', sans-serif; font-weight: 300; font-size: 16px; color: #707070; line-height: 1.6; text-align: left;">
                                            Todo final de mês lhe enviaremos um e-mail para confirmar se você fará a
                                            recontratação dos seus horários fixos ou por período. A reserva somente
                                            será garantida perante resposta dentro do prazo estabelecido no e-mail.

                                        </div>
                                    </td>
                                </tr>
                                <!-- PAGAMENTO -->
                                <tr>
                                    <td style="padding-top: 25px;">
                                        <img src="https://www.salasfradique.com.br/emails/boas_vindas/pagamento.png"
                                            width="100%" alt="">
                                    </td>
                                </tr>
                                <tr>
                                    <td style="padding-top: 4px;">
                                        <div
                                            style="font-family: 'Helvetica Neue', sans-serif; font-weight: 400; font-size: 18px; color: #464646; line-height: 1.2; text-align: left;">
                                            Sobre o pagamento</div>
                                    </td>
                                </tr>
                                <tr>
                                    <td style="padding-top: 16px;">
                                        <div
                                            style="font-family: 'Helvetica Neue', sans-serif; font-weight: 300; font-size: 16px; color: #707070; line-height: 1.6; text-align: left;">
                                            O pagamento dos planos fixos e por período deve ser realizado via
                                            depósito bancário para a conta a seguir:
                                            <ul>
                                                <li>Banco Inter (077)</li>
                                                <li>Agência: 0001</li>
                                                <li>Conta Corrente: 4555368-8</li>
                                                <li>CNPJ: 34.198.559/0001-90</li>
                                                <li>Titular: Espaço Fradique Escritórios Compartilhados LTDA.</li>
                                            </ul>
                                            Na sua primeira sublocação, o pagamento deve ser feito <span
                                                style="font-weight: 600">48 horas
                                                antes</span> do início da utilização do espaço. A partir do
                                            <span style="font-weight: 400">segundo mês</span>, você terá <span
                                                style="font-weight: 400">até o dia 5</span>
                                            para efetuar o pagamento de seu plano e também das horas extras
                                            realizadas.
                                            <div style="display:block;width:100%;height:8px;"></div>
                                            Pedimos que por favor encaminhe o comprovante de pagamento para
                                            <span
                                                style="font-weight: 600;color:#202c39;">contato@salasfradique.com.br</span>
                                            <div style="display:block;width:100%;height:8px;"></div>
                                            <em style="color:darkred"><span style="font-weight: 500">Obs.: </span>O
                                                não pagamento até a
                                                data prevista
                                                acarretará no cancelamento dos seus horários para o mês vigente,
                                                conforme estabelecido em contrato.</em>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td style="padding-top: 40px;">
                                        <div style="width: 100%; border-top: 1px solid #d4d2ca;"></div>
                                    </td>
                                </tr>

                                <tr>
                                    <td>
                                        <div style="width: 100%; border-top: 1px solid #d4d2ca;"></div>
                                    </td>
                                </tr>
                                <tr>
                                    <td style="padding: 9px 37px 27px;">
                                        <div
                                            style="text-align:center; font-family:'Helvetica Neue', sans-serif; font-size: 12px; color:#9b9b9b; padding-top:17px; line-height: 18px;">
                                            Espaço Fradique Escritórios Compartilhados LTDA | CNPJ:
                                            34.198.559/0001-90</div>
                                        <div id="address"
                                            style="text-align:center; font-family:'Helvetica Neue', sans-serif; font-size: 12px; color:#9b9b9b; line-height: 18px;">
                                            <span class="appleLinks">Rua Dr. Virgílio de Carvalho Pinto, 301 - São
                                                Paulo/SP</span>
                                            <br>Telefone: (11)9.5373.1226</div>
                                    </td>
                                </tr>
                            </table>
                        </td>
                    </tr>
                </table>
            </td>
        </tr>
    </table>
    </td>
    </tr>
    </table>
</body>

</html>