<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>Fechamento Mensal e Renovação de Sublocação</title>
    <style>
    	       .appleLinks a {
            text-decoration: none;
        }

        @media only screen and (max-width: 560px) {
            .mobile-align {
                text-align: left;
            }

            a[id="unsubscribe-url"],
            a[id="manage-url"],
            a[id="policy-url"] {
                margin-right: 0 !important;
                margin-left: 0 !important;
                display: block !important;
                width: 100% !important;
                border: none !important;
                padding: 5px 0 !important;
                text-decoration: underline !important;
            }

        }

        @media only screen and (max-width: 480px) {
            .table-transform .table-transform-td {
                display: inline-block !important;
                vertical-align: top !important;
                width: 100% !important;
                max-width: 100% !important;
                padding-left: 0 !important;
                padding-right: 0 !important;
            }

            .list {
                max-width: 150px !important
            }
        }
    </style>
</head>

<body style="padding:0; margin:0; background: #e2e2e2">
    <table cellspacing="0" valign="top" cellpadding="0" align="center" style="width: 100%;padding: 50px 0">
        <tr valign="top">
            <td align="center" width="100%">
                <table cellspacing="0" cellpadding="0" align="center" width="100%" bgcolor="#fff"
                    style="max-width: 630px; min-width: 330px; background: #fff;border-radius: 10px;padding: 20px 30px">
                    <tr>
                        <td align="center" style="padding: 0 15px;">
                            <table cellspacing="0" cellpadding="0" width="100%" style="max-width: 630px;">
                                <tr>
                                    <td align="left" style="padding: 15px 0 0 10px; width: 99px;">
                                        <a href="https://www.salasfradique.com.br" target="_blank">
                                            <img src="https://www.salasfradique.com.br/img/logos/logo-texto-min.png"
                                                alt="Logo_SalasFradique" width="180">
                                        </a>
                                    </td>
                                </tr>
                            </table>
                        </td>
                    </tr>
                    <tr>
                        <td style="padding: 18px 15px 0;">
                            <div style="width: 100%; border-top: 1px solid #d4d2ca;"></div>
                        </td>
                    </tr>
                    <tr>
                        <td style="padding: 0 15px;">
                            <table cellspacing="0" cellpadding="0" align="center" width="100%">
                                <tr>
                                    <td style="padding: 35px 0 10px;" align="center">
                                        <div
                                            style="font-family: 'Helvetica Neue', sans-serif; font-weight: 600; font-size: 28px; color: #464646; line-height: 1.2;">
                                            Fechamento mensal e Renovação de Sublocação - {{base.mesAno}}</div>
                                    </td>
                                </tr>
                                <tr>
                                    <td align="left">
                                        <div class="mobile-align"
                                            style="font-family: 'Helvetica Neue', sans-serif; font-weight: 300; font-size: 16px; color: #707070; line-height: 24px; max-width: 560px; margin: 0 auto; padding-top: 10px;">
                                            Olá {{cliente.nome}}, seguem informações para pagamento das horas extras utilizadas em
                                            {{base.mesAnterior}} e das horas fixas a utilizar em
                                            {{base.mesAtual}}.
                                        </div>
                                    </td>
                                </tr>
                                <!-- CONTRATO -->
                                <tr>
                                    <td style="padding-top: 25px;">
                                        <img src="https://www.salasfradique.com.br/emails/boas_vindas/contrato.png"
                                            width="100%" alt="">
                                    </td>
                                </tr>
                                <tr>
                                    <td style="padding-top: 4px;">
                                        <div
                                            style="font-family: 'Helvetica Neue', sans-serif; font-weight: 400; font-size: 18px; color: #464646; line-height: 1.2; text-align: left;">
                                            Planos fixos contratados</div>
                                    </td>
                                </tr>
                                <tr>
                                    <td style="padding-top: 16px;">
                                        <div
                                            style="font-family: 'Helvetica Neue', sans-serif; font-weight: 300; font-size: 16px; color: #707070; line-height: 1.6; text-align: left;">
                                            <table style="width: 100%; margin: 0 auto; margin-bottom: 5px;">
                                                <tr style="background-color: rgba(165,214,109,0.5);">
                                                    <th rowspan="2"
                                                        style="font-size:13px;font-weight:bold;text-align:center;padding: 3px 6px;color:#464646"
                                                        width="20%" align="center">Sala
                                                    </th>
                                                    <th rowspan="2"
                                                        style="font-size:13px;font-weight:bold;text-align:center;padding: 3px 6px;color:#464646"
                                                        width="30%" align="center">Dia da Semana</th>
                                                    <th colspan="2"
                                                        style="font-size:13px;font-weight:bold;text-align:center;padding: 3px 6px;color:#464646"
                                                        width="25%" align="center">Horário</th>
                                                </tr>
                                                <tr style="background-color: rgba(165,214,109,0.3);">
                                                    <th style="font-size:13px;font-weight:bold;text-align:center;padding: 3px 6px;color:#464646"
                                                        width="25%">
                                                        Início
                                                    </th>
                                                    <th style="font-size:13px;font-weight:bold;text-align:center;padding: 3px 6px;color:#464646"
                                                        align="center" width="25%">Fim</th>
                                                </tr>
                                              	<!-- Planos Contratados -->
                                                {% for plano in planosContratados %}
                                                <tr
                                                    style="border-bottom: solid 1px #f7f7f7;background-color:rgba(112,112,112,0.1)">
                                                    <td style="font-size:13px;font-weight:normal;padding: 0px 6px;vertical-align:center;color:#707070"
                                                        align="center">
                                                        {{plano.sala}} </td>
                                                    <td style="font-size:13px;font-weight:normal;padding: 0px 6px;vertical-align:center;color:#707070"
                                                        align="center">
                                                        {{plano.diaDaSemana}}</td>
                                                    <td style="font-size:13px;font-weight:normal;padding: 0px 6px;vertical-align:center;color:#707070"
                                                        align="center">
                                                        {{plano.inicio}}</td>
                                                    <td style="font-size:13px;font-weight:normal;padding: 0px 6px;vertical-align:center;color:#707070"
                                                        align="center">
                                                        {{plano.fim}}</td>
                                                </tr>
                                                {% endfor %}
                                            </table>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td style="padding-top: 16px;">
                                        <div
                                            style="font-family: 'Helvetica Neue', sans-serif; font-weight: 400; font-size: 18px; color: #464646; line-height: 1.2; text-align: left;">
                                            Valor a pagar</div>
                                    </td>
                                </tr>
                                <tr>
                                    <td style="padding-top: 4px;">
                                        <div
                                            style="font-family: 'Helvetica Neue', sans-serif; font-weight: 300; font-size: 16px; color: #707070; line-height: 1.6; text-align: left;">
                                            <ul style="margin:0;">
                                                <li>Horas Extras - {{base.mesAnterior}}: R$ {{cliente.diferenca}}</li>
                                                <li>Horas Fixas - {{base.mesAtual}}: R$ {{cliente.totalReservado}}</li>
                                                <li>Períodos - {{base.mesAtual}}: R$ {{cliente.periodos}}</li>
                                                <li style="font-weight: 700;text-transform: uppercase;">
                                                    Total a pagar: R$ {{cliente.totalAPagar}}</li>
                                            </ul>
                                        </div>
                                    </td>
                                </tr>
                                <!-- EXTRATO DETALHADO -->
                                <tr>
                                    <td style="padding-top: 25px;">
                                        <img src="https://www.salasfradique.com.br/emails/boas_vindas/agendamento.png"
                                            width="100%" alt="">
                                    </td>
                                </tr>
                                <tr>
                                    <td style="padding-top: 4px;">
                                        <div
                                            style="font-family: 'Helvetica Neue', sans-serif; font-weight: 400; font-size: 18px; color: #464646; line-height: 1.2; text-align: left;">
                                            Extrato detalhado</div>
                                    </td>
                                </tr>
                                <!-- HORAS UTILIZADAS -->
                                <tr>
                                    <td style="padding-top: 16px;">
                                        <div
                                            style="font-family: 'Helvetica Neue', sans-serif; font-weight: 300; font-size: 16px; color: #707070; line-height: 1.6; text-align: left;">
                                            <table style="width: 100%; margin: 0 auto; margin-bottom: 5px;">
                                                <tr style="background-color: rgba(165,214,109,0.5);">
                                                    <th colspan="3"
                                                        style="font-size:13px;font-weight:bold;text-align:center;padding: 3px 6px;color:#464646">
                                                        Horas utilizadas em {{base.mesAnterior}}
                                                    </th>
                                                </tr>
                                                <tr style="background-color: rgba(165,214,109,0.3);">
                                                    <th style="font-size:13px;font-weight:bold;text-align:center;padding: 3px 6px;color:#464646"
                                                        width="25%">Sala
                                                    </th>
                                                    <th style="font-size:13px;font-weight:bold;text-align:center;padding: 3px 6px;color:#464646"
                                                        width="45%" align="center">Data e Hora</th>
                                                    <th style="font-size:13px;font-weight:bold;text-align:center;padding: 3px 6px;color:#464646"
                                                        width="30%" align="center">Valor</th>
                                                </tr>
                                                <!-- Horas Utilizadas -->
                                                {% for horaUtilizada in horasUtilizadas %}
                                                <tr
                                                    style="border-bottom: solid 1px #f7f7f7;background-color:rgba(112,112,112,0.1)">
                                                    <td style="font-size:13px;font-weight:normal;padding: 0px 6px;vertical-align:center;color:#707070"
                                                        align="center">
                                                        {{horaUtilizada.sala}} </td>
                                                    <td style="font-size:13px;font-weight:normal;padding: 0px 6px;vertical-align:center;color:#707070"
                                                        align="center">
                                                        {{horaUtilizada.dataEHora}} </td>
                                                    <td style="font-size:13px;font-weight:normal;padding: 0px 6px;vertical-align:center;color:#707070"
                                                        align="center">
                                                        {{horaUtilizada.valor}} </td>
                                                </tr>
                                                {% endfor %}
                                                <tr style="border-bottom: solid 1px #f7f7f7;">
                                                    <td colspan="3"
                                                        style="font-size:13px;font-weight:normal;padding: 0px 6px;vertical-align:center;color:#707070; height: 10px;"
                                                        align="right">
                                                    </td>
                                                </tr>
                                                <tr style="border-bottom: solid 1px #f7f7f7;">
                                                    <td colspan="2"
                                                        style="font-size:13px;font-weight:normal;padding: 0px 6px;vertical-align:center;color:#707070;font-weight:700;"
                                                        align="right">
                                                        Valor Total Utilizado </td>
                                                    <td style="font-size:13px;font-weight:normal;padding: 0px 6px;vertical-align:center;color:#707070;font-weight:700;"
                                                        align="center">
                                                        R$ {{cliente.totalUtilizado}}</td>
                                                </tr>
                                                <tr style="border-bottom: solid 1px #f7f7f7;">
                                                    <td colspan="2"
                                                        style="font-size:13px;font-weight:normal;padding: 0px 6px;vertical-align:center;color:#707070;font-weight:700;"
                                                        align="right">
                                                        Valor Total Pago </td>
                                                    <td style="font-size:13px;font-weight:normal;padding: 0px 6px;vertical-align:center;color:#707070;font-weight:700;"
                                                        align="center">
                                                        R$ {{cliente.totalPago}}</td>
                                                </tr>
                                                <tr style="border-bottom: solid 1px #f7f7f7;">
                                                    <td colspan="2"
                                                        style="font-size:13px;font-weight:normal;padding: 0px 6px;vertical-align:center;color:#707070;font-weight:700;"
                                                        align="right">
                                                        Diferença </td>
                                                    <td style="font-size:13px;font-weight:normal;padding: 0px 6px;vertical-align:center;color:#707070;font-weight:700;"
                                                        align="center">
                                                        R$ {{cliente.diferenca}}</td>
                                                </tr>
                                            </table>
                                        </div>
                                    </td>
                                </tr>
                                <!-- HORAS RESERVADAS -->
                                <tr>
                                    <td style="padding-top: 16px;">
                                        <div
                                            style="font-family: 'Helvetica Neue', sans-serif; font-weight: 300; font-size: 16px; color: #707070; line-height: 1.6; text-align: left;">
                                            <table style="width: 100%; margin: 0 auto; margin-bottom: 5px;">
                                                <tr style="background-color: rgba(165,214,109,0.5);">
                                                    <th colspan="3"
                                                        style="font-size:13px;font-weight:bold;text-align:center;padding: 3px 6px;color:#464646">
                                                        Horas reservadas em {{base.mesAtual}}
                                                    </th>
                                                </tr>
                                                <tr style="background-color: rgba(165,214,109,0.3);">
                                                    <th style="font-size:13px;font-weight:bold;text-align:center;padding: 3px 6px;color:#464646"
                                                        width="25%">Sala
                                                    </th>
                                                    <th style="font-size:13px;font-weight:bold;text-align:center;padding: 3px 6px;color:#464646"
                                                        width="45%" align="center">Data e Hora</th>
                                                    <th style="font-size:13px;font-weight:bold;text-align:center;padding: 3px 6px;color:#464646"
                                                        width="30%" align="center">Valor</th>
                                                </tr>
                                                <!-- Horas Utilizadas -->
                                                {% for horaAgendada in horasAgendadas %}
                                                <tr
                                                    style="border-bottom: solid 1px #f7f7f7;background-color:rgba(112,112,112,0.1)">
                                                    <td style="font-size:13px;font-weight:normal;padding: 0px 6px;vertical-align:center;color:#707070"
                                                        align="center">
                                                        {{horaAgendada.sala}} </td>
                                                    <td style="font-size:13px;font-weight:normal;padding: 0px 6px;vertical-align:center;color:#707070"
                                                        align="center">
                                                        {{horaAgendada.dataEHora}} </td>
                                                    <td style="font-size:13px;font-weight:normal;padding: 0px 6px;vertical-align:center;color:#707070"
                                                        align="center">
                                                        {{horaAgendada.valor}} </td>
                                                </tr>
                                                {% endfor %}
                                                <tr style="border-bottom: solid 1px #f7f7f7;">
                                                    <td colspan="3"
                                                        style="font-size:13px;font-weight:normal;padding: 0px 6px;vertical-align:center;color:#707070; height: 10px;"
                                                        align="right">
                                                    </td>
                                                </tr>
                                                <tr style="border-bottom: solid 1px #f7f7f7;">
                                                    <td colspan="2"
                                                        style="font-size:13px;font-weight:normal;padding: 0px 6px;vertical-align:center;color:#707070;font-weight:700;"
                                                        align="right">
                                                        Valor Total Reservado </td>
                                                    <td style="font-size:13px;font-weight:normal;padding: 0px 6px;vertical-align:center;color:#707070;font-weight:700;"
                                                        align="center">
                                                        {{cliente.totalReservado}}</td>
                                                </tr>
                                            </table>
                                        </div>
                                    </td>
                                </tr>
                                <!-- PERÍODOS -->
                                <tr>
                                    <td style="padding-top: 16px;">
                                        <div
                                            style="font-family: 'Helvetica Neue', sans-serif; font-weight: 300; font-size: 16px; color: #707070; line-height: 1.6; text-align: left;">
                                            <table style="width: 100%; margin: 0 auto; margin-bottom: 5px;">
                                                <tr style="background-color: rgba(165,214,109,0.5);">
                                                    <th colspan="3"
                                                        style="font-size:13px;font-weight:bold;text-align:center;padding: 3px 6px;color:#464646">
                                                        Períodos
                                                    </th>
                                                </tr>
                                                <tr style="background-color: rgba(165,214,109,0.3);">
                                                    <th style="font-size:13px;font-weight:bold;text-align:center;padding: 3px 6px;color:#464646"
                                                        width="25%">Sala
                                                    </th>
                                                    <th style="font-size:13px;font-weight:bold;text-align:center;padding: 3px 6px;color:#464646"
                                                        width="45%" align="center">Data</th>
                                                    <th style="font-size:13px;font-weight:bold;text-align:center;padding: 3px 6px;color:#464646"
                                                        width="30%" align="center">Período</th>
                                                </tr>
                                                <!-- Períodos -->
                                                {% for periodo in periodos %}
                                                <tr
                                                    style="border-bottom: solid 1px #f7f7f7;background-color:rgba(112,112,112,0.1)">
                                                    <td style="font-size:13px;font-weight:normal;padding: 0px 6px;vertical-align:center;color:#707070"
                                                        align="center">
                                                        {{periodo.sala }} </td>
                                                    <td style="font-size:13px;font-weight:normal;padding: 0px 6px;vertical-align:center;color:#707070"
                                                        align="center">
                                                        {{periodo.data }}</td>
                                                    <td style="font-size:13px;font-weight:normal;padding: 0px 6px;vertical-align:center;color:#707070"
                                                        align="center">
                                                        {{periodo.periodo}}</td>
                                                </tr>
                                                {% endfor %}
                                            </table>
                                        </div>
                                    </td>
                                </tr>
                                <!-- PAGAMENTO -->
                                <tr>
                                    <td style="padding-top: 25px;">
                                        <img src="https://www.salasfradique.com.br/emails/boas_vindas/pagamento.png"
                                            width="100%" alt="">
                                    </td>
                                </tr>
                                <tr>
                                    <td style="padding-top: 4px;">
                                        <div
                                            style="font-family: 'Helvetica Neue', sans-serif; font-weight: 400; font-size: 18px; color: #464646; line-height: 1.2; text-align: left;">
                                            Informações para pagamento</div>
                                    </td>
                                </tr>
                                
                                <!-- Informações de Pagamento -->
                                <tr>
                                    <td style="padding-top: 16px;">
                                        <div
                                            style="font-family: 'Helvetica Neue', sans-serif; font-weight: 300; font-size: 16px; color: #707070; line-height: 1.6; text-align: left;">
                                            <!-- Pagamento por transferência -->
                                            {% if cliente.formaDePagamento == "Transferência" %}
                                            O pagamento deve ser realizado via
                                            depósito bancário para a conta a seguir:
                                            <ul>
                                                <li>Banco Inter (077)</li>
                                                <li>Agência: 0001</li>
                                                <li>Conta Corrente: 4555368-8</li>
                                                <li>CNPJ: 34.198.559/0001-90</li>
                                                <li>Titular: Espaço Fradique Escritórios Compartilhados LTDA.</li>
                                                <li>Valor: {{cliente.totalAPagar}}</li>
                                                <li>Vencimento: {{base.dataVencimento}}</li>
                                            </ul>
                                            {% endif %}
                                            {% if cliente.formaDePagamento == "Boleto" %}
                                            	O pagamento deve ser realizado via boleto bancário em anexo:
                                            	<ul>
	                                                <li>Valor: {{cliente.totalAPagar}}</li>
	                                                <li>Vencimento: {{base.dataVencimento}}</li>
	                                            </ul>
                                            {% endif %}
                                            <div style="display:block;width:100%;height:8px;"></div>
                                            Pedimos que por favor encaminhe o comprovante de pagamento para
                                            <span
                                                style="font-weight: 600;color:#202c39;">contato@salasfradique.com.br</span>
                                            <div style="display:block;width:100%;height:8px;"></div>
                                            <em style="color:darkred"><span style="font-weight: 500">Obs.: </span>O
                                                não pagamento até a
                                                data prevista
                                                acarretará no cancelamento dos seus horários para o mês vigente,
                                                conforme estabelecido em contrato.</em>
                                        </div>
                                    </td>
                                </tr>
                                
                                <tr>
                                    <td style="padding-top: 40px;">
                                        <div style="width: 100%; border-top: 1px solid #d4d2ca;"></div>
                                    </td>
                                </tr>

                                <tr>
                                    <td>
                                        <div style="width: 100%; border-top: 1px solid #d4d2ca;"></div>
                                    </td>
                                </tr>
                                <tr>
                                    <td style="padding: 9px 37px 27px;">
                                        <div
                                            style="text-align:center; font-family:'Helvetica Neue', sans-serif; font-size: 12px; color:#9b9b9b; padding-top:17px; line-height: 18px;">
                                            Espaço Fradique Escritórios Compartilhados LTDA | CNPJ:
                                            34.198.559/0001-90</div>
                                        <div id="address"
                                            style="text-align:center; font-family:'Helvetica Neue', sans-serif; font-size: 12px; color:#9b9b9b; line-height: 18px;">
                                            <span class="appleLinks">Rua Dr. Virgílio de Carvalho Pinto, 301 - São
                                                Paulo/SP</span>
                                            <br>Telefone: (11) 9.5373.1226</div>
                                    </td>
                                </tr>
                            </table>
                        </td>
                    </tr>
                </table>
            </td>
        </tr>
    </table>
    </td>
    </tr>
    </table>
</body>

</html>