<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>Pagamento em aberto</title>
    <style>
        .appleLinks a {
            text-decoration: none;
        }

        @media only screen and (max-width: 560px) {
            .mobile-align {
                text-align: left;
            }

            a[id="unsubscribe-url"],
            a[id="manage-url"],
            a[id="policy-url"] {
                margin-right: 0 !important;
                margin-left: 0 !important;
                display: block !important;
                width: 100% !important;
                border: none !important;
                padding: 5px 0 !important;
                text-decoration: underline !important;
            }

        }

        @media only screen and (max-width: 480px) {
            .table-transform .table-transform-td {
                display: inline-block !important;
                vertical-align: top !important;
                width: 100% !important;
                max-width: 100% !important;
                padding-left: 0 !important;
                padding-right: 0 !important;
            }

            .list {
                max-width: 150px !important
            }
        }
    </style>
</head>

<body style="padding:0; margin:0; background: #e2e2e2">
    <table cellspacing="0" valign="top" cellpadding="0" align="center" style="width: 100%;padding: 50px 0">
        <tr valign="top">
            <td align="center" width="100%">
                <table cellspacing="0" cellpadding="0" align="center" width="100%" bgcolor="#fff"
                    style="max-width: 630px; min-width: 330px; background: #fff;border-radius: 10px;padding: 20px 30px">
                    <tr>
                        <td align="center" style="padding: 0 15px;">
                            <table cellspacing="0" cellpadding="0" width="100%" style="max-width: 630px;">
                                <tr>
                                    <td align="left" style="padding: 15px 0 0 10px; width: 99px;">
                                        <a href="https://www.salasfradique.com.br" target="_blank">
                                            <img src="https://www.salasfradique.com.br/img/logos/logo-texto-min.png"
                                                alt="Logo_SalasFradique" width="180">
                                        </a>
                                    </td>
                                </tr>
                            </table>
                        </td>
                    </tr>
                    <tr>
                        <td style="padding: 18px 15px 0;">
                            <div style="width: 100%; border-top: 1px solid #d4d2ca;"></div>
                        </td>
                    </tr>
                    <tr>
                        <td style="padding: 0 15px;">
                            <table cellspacing="0" cellpadding="0" align="center" width="100%">
                                <tr>
                                    <td style="padding: 35px 0 25px;" align="center">
                                        <div
                                            style="font-family: 'Helvetica Neue', sans-serif; font-weight: 600; font-size: 28px; color: #464646; line-height: 1.2;">
                                            Relação de pagamento em aberto</div>
                                    </td>
                                </tr>
                                <!-- PLANOS FIXOS -->
                                <tr>
                                    <td style="padding-top: 4px;">
                                        <div
                                            style="font-family: 'Helvetica Neue', sans-serif; font-weight: 400; font-size: 20px;font-weight: 600; color: #464646; line-height: 1.2; text-align: left;margin-bottom: 5px;">
                                            Planos fixos</div>
                                    </td>
                                </tr>
                                <tr>
                                    <td style="padding-top: 4px;">
                                        <div
                                            style="font-family: 'Helvetica Neue', sans-serif; font-weight: 400; font-size: 16px; color: #464646; line-height: 1.2; text-align: left;">
                                            Em atraso</div>
                                    </td>
                                </tr>
                                <tr>
                                    <td style="padding-top: 5px;">
                                        <div
                                            style="font-family: 'Helvetica Neue', sans-serif; font-weight: 300; font-size: 16px; color: #707070; line-height: 1.6; text-align: left;">
                                            <table style="width: 100%; margin: 0 auto; margin-bottom: 5px;">
                                                <tr style="background-color: rgba(255,111,89,0.5);">
                                                    <th style="font-size:13px;font-weight:bold;text-align:center;padding: 3px 6px;color:#464646"
                                                        width="50%" align="center">Nome do Cliente
                                                    </th>
                                                    <th style="font-size:13px;font-weight:bold;text-align:center;padding: 3px 6px;color:#464646"
                                                        width="25%" align="center">Valor</th>
                                                    <th style="font-size:13px;font-weight:bold;text-align:center;padding: 3px 6px;color:#464646"
                                                        width="25%" align="center">Vencimento</th>
                                                </tr>
                                                <!-- Fixo em Atraso -->
                                                {% for pagto in fixoEmAtraso %}
                                                <tr
                                                    style="border-bottom: solid 1px #f7f7f7;background-color:rgba(112,112,112,0.1)">
                                                    <td style="font-size:13px;font-weight:normal;padding: 0px 6px;vertical-align:center;color:#707070"
                                                        align="center">
                                                        {{pagto.cliente}} </td>
                                                    <td style="font-size:13px;font-weight:normal;padding: 0px 6px;vertical-align:center;color:#707070"
                                                        align="center">
                                                        {{pagto.valor}} </td>
                                                    <td style="font-size:13px;font-weight:normal;padding: 0px 6px;vertical-align:center;color:#707070"
                                                        align="center">
                                                        {{pagto.vencimento}} </td>
                                                </tr>
                                                {% endfor %}
                                            </table>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td style="padding-top: 4px;">
                                        <div
                                            style="font-family: 'Helvetica Neue', sans-serif; font-weight: 400; font-size: 16px; color: #464646; line-height: 1.2; text-align: left;">
                                            Pendente</div>
                                    </td>
                                </tr>
                                <tr>
                                    <td style="padding-top: 5px;">
                                        <div
                                            style="font-family: 'Helvetica Neue', sans-serif; font-weight: 300; font-size: 16px; color: #707070; line-height: 1.6; text-align: left;">
                                            <table style="width: 100%; margin: 0 auto; margin-bottom: 5px;">
                                                <tr style="background-color: rgba(255,111,89,0.5);">
                                                    <th style="font-size:13px;font-weight:bold;text-align:center;padding: 3px 6px;color:#464646"
                                                        width="50%" align="center">Nome do Cliente
                                                    </th>
                                                    <th style="font-size:13px;font-weight:bold;text-align:center;padding: 3px 6px;color:#464646"
                                                        width="25%" align="center">Valor</th>
                                                    <th style="font-size:13px;font-weight:bold;text-align:center;padding: 3px 6px;color:#464646"
                                                        width="25%" align="center">Vencimento</th>
                                                </tr>
                                                <!-- Fixo Pendente -->
                                                {% for pagto in fixoPendente %}
                                                <tr
                                                    style="border-bottom: solid 1px #f7f7f7;background-color:rgba(112,112,112,0.1)">
                                                    <td style="font-size:13px;font-weight:normal;padding: 0px 6px;vertical-align:center;color:#707070"
                                                        align="center">
                                                        {{pagto.cliente}} </td>
                                                    <td style="font-size:13px;font-weight:normal;padding: 0px 6px;vertical-align:center;color:#707070"
                                                        align="center">
                                                        {{pagto.valor}} </td>
                                                    <td style="font-size:13px;font-weight:normal;padding: 0px 6px;vertical-align:center;color:#707070"
                                                        align="center">
                                                        {{pagto.vencimento}} </td>
                                                </tr>
                                                {% endfor %}
                                            </table>
                                        </div>
                                    </td>
                                </tr>
                                <!-- HORAS AVULSAS -->
                                <tr>
                                    <td style="padding-top: 20px;">
                                        <div
                                            style="font-family: 'Helvetica Neue', sans-serif; font-weight: 400; font-size: 20px;font-weight: 600; color: #464646; line-height: 1.2; text-align: left;margin-bottom: 5px;">
                                            Horas avulsas</div>
                                    </td>
                                </tr>
                                <tr>
                                    <td style="padding-top: 4px;">
                                        <div
                                            style="font-family: 'Helvetica Neue', sans-serif; font-weight: 400; font-size: 16px; color: #464646; line-height: 1.2; text-align: left;">
                                            Em atraso</div>
                                    </td>
                                </tr>
                                <tr>
                                    <td style="padding-top: 5px;">
                                        <div
                                            style="font-family: 'Helvetica Neue', sans-serif; font-weight: 300; font-size: 16px; color: #707070; line-height: 1.6; text-align: left;">
                                            <table style="width: 100%; margin: 0 auto; margin-bottom: 5px;">
                                                <tr style="background-color: rgba(255,111,89,0.5);">
                                                    <th style="font-size:13px;text-align:center;padding: 3px 6px;color:#464646"
                                                        width="50%" align="center">Nome do Cliente
                                                    </th>
                                                    <th style="font-size:13px;text-align:center;padding: 3px 6px;color:#464646"
                                                        width="25%" align="center">Valor</th>
                                                    <th style="font-size:13px;text-align:center;padding: 3px 6px;color:#464646"
                                                        width="25%" align="center">Vencimento</th>
                                                </tr>
                                                <!-- Avulso em Aberto -->
                                                {% for pagto in avulsoEmAtraso %}
                                                <tr
                                                    style="border-bottom: solid 1px #f7f7f7;background-color:rgba(112,112,112,0.1)">
                                                    <td style="font-size:13px;font-weight:normal;padding: 0px 6px;vertical-align:center;color:#707070"
                                                        align="center">
                                                        {{pagto.cliente}} </td>
                                                    <td style="font-size:13px;font-weight:normal;padding: 0px 6px;vertical-align:center;color:#707070"
                                                        align="center">
                                                        {{pagto.valor}} </td>
                                                    <td style="font-size:13px;font-weight:normal;padding: 0px 6px;vertical-align:center;color:#707070"
                                                        align="center">
                                                        {{pagto.vencimento}} </td>
                                                </tr>
                                                {% endfor %}
                                            </table>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td style="padding-top: 4px;">
                                        <div
                                            style="font-family: 'Helvetica Neue', sans-serif; font-weight: 400; font-size: 16px; color: #464646; line-height: 1.2; text-align: left;">
                                            Pendente</div>
                                    </td>
                                </tr>
                                <tr>
                                    <td style="padding-top: 5px;">
                                        <div
                                            style="font-family: 'Helvetica Neue', sans-serif; font-weight: 300; font-size: 16px; color: #707070; line-height: 1.6; text-align: left;">
                                            <table style="width: 100%; margin: 0 auto; margin-bottom: 5px;">
                                                <tr style="background-color: rgba(255,111,89,0.5);">
                                                    <th style="font-size:13px;font-weight:bold;text-align:center;padding: 3px 6px;color:#464646"
                                                        width="50%" align="center">Nome do Cliente
                                                    </th>
                                                    <th style="font-size:13px;font-weight:bold;text-align:center;padding: 3px 6px;color:#464646"
                                                        width="25%" align="center">Valor</th>
                                                    <th style="font-size:13px;font-weight:bold;text-align:center;padding: 3px 6px;color:#464646"
                                                        width="25%" align="center">Vencimento</th>
                                                </tr>
                                                <!-- Avulso Pendente -->
                                                {% for pagto in avulsoPendente %}
                                                <tr
                                                    style="border-bottom: solid 1px #f7f7f7;background-color:rgba(112,112,112,0.1)">
                                                    <td style="font-size:13px;font-weight:normal;padding: 0px 6px;vertical-align:center;color:#707070"
                                                        align="center">
                                                        {{pagto.cliente}} </td>
                                                    <td style="font-size:13px;font-weight:normal;padding: 0px 6px;vertical-align:center;color:#707070"
                                                        align="center">
                                                        {{pagto.valor}} </td>
                                                    <td style="font-size:13px;font-weight:normal;padding: 0px 6px;vertical-align:center;color:#707070"
                                                        align="center">
                                                        {{pagto.vencimento}} </td>
                                                </tr>
                                                {% endfor %}
                                            </table>
                                        </div>
                                    </td>
                                </tr>

                                <tr>
                                    <td style="padding-top: 40px;">
                                        <div style="width: 100%; border-top: 1px solid #d4d2ca;"></div>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <div style="width: 100%; border-top: 1px solid #d4d2ca;"></div>
                                    </td>
                                </tr>
                                <tr>
                                    <td style="padding: 9px 37px 27px;">
                                        <div
                                            style="text-align:center; font-family:'Helvetica Neue', sans-serif; font-size: 12px; color:#9b9b9b; padding-top:17px; line-height: 18px;">
                                            Espaço Fradique Escritórios Compartilhados LTDA | CNPJ:
                                            34.198.559/0001-90</div>
                                        <div id="address"
                                            style="text-align:center; font-family:'Helvetica Neue', sans-serif; font-size: 12px; color:#9b9b9b; line-height: 18px;">
                                            <span class="appleLinks">Rua Dr. Virgílio de Carvalho Pinto, 301 - São
                                                Paulo/SP</span>
                                            <br>Telefone: (11) 9.5373.1226</div>
                                    </td>
                                </tr>
                            </table>
                        </td>
                    </tr>
                </table>
            </td>
        </tr>
    </table>
    </td>
    </tr>
    </table>
</body>

</html>